html, body {
    height: 100%;
    margin: 0;
    background-color: #393e40;
}

.wrapper {
    height: 100%;
    display: flex;
}

.panel {
    flex: 1;
}

.calculadora {
    background-color: #2c3032;
    color: #ffffff;
}
  
.historial {
    background-color: #393e40;
    color: #ffffff;
}

#historial-title {
    margin-top: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

#resultado {
    text-align: right;
    border: 2px solid #0000ff;
    border-radius: 10%;
    margin: 3px;
    padding: 3px;
}

#actual {
    text-align: right;
    border: 2px solid #c0c0c0;
    border-radius: 10%;
    margin: 3px;
    padding: 3px;
}

.button-calc {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    background-color: #ffffff;
    color: #0000ff;
}

.operator {
    background-color: #00f0f0;
    color: #000000;
}

#boton-delete, #boton-clear {
    background-color: #b42703;
    color: #ffffff;
}